<!DOCTYPE html>
<html  >
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<meta charset="UTF-8">
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../lib/angular.min.js"></script>
<script src="../lib/controller.js"></script>
<script src="../lib/ngMask.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
 
 
 <div class="form-group" >
	<h2 class="padding text-primary bold col-md-12" align="center">
    	<i class="fa  ">&nbsp;</i>
        	<span>Consulta Clientes</span>
    </h2>
</div>
 <div class="col-md-1">
 </div>
<div ng-app="cliente" ng-controller="incluiCliente">

<table> <tr>
    <th>Nome</th>
    <th> CPF </th>
    <th>Data Nascimento</th>
    <th>Rua</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>CEP</th>
    <th>Complemento</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th class="col-xs-1 text-center">
		<i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Detalhar Item"></i></th>
   <th class="col-xs-1 text-center">
		<i class="fa fa-trash-o" data-toggle="tooltip" title="Detalhar Item"></i></th>
   </tr>
  <tr ng-repeat="x in greeting">
     <td>{{ x.nome }} </td>
    <td> {{ x.cpf }} </td>
    <td>{{ x.dt_nascimento |  date : "dd/MM/y"}} </td>
    <td>{{ x.rua }}</td>
    <td>{{ x.numero }}</td>
    <td>{{x.bairro}} </td>
    <td>{{x.cep}}</td>
    <td>{{x.complemento}}</td>
    <td>{{x.telefone}}</td>
    <td>{{x.celular}}</td>
    <td class="text-center">
		<button class="btn btn-sm" data-toggle="tooltip" title="Editar Item" ng-click="editarCliente(row)">
			<i class="fa fa-pencil-square-o"></i>
		</button>
	</td>
    <td class="text-center">
		<button class="btn btn-sm" data-toggle="tooltip" title="Editar Item" ng-click="deletarCliente(row)">
			<i class="fa fa-trash-o"></i>
		</button>
	</td>
  </tr>
  
</table>

</div>
</body>
</html>
